%h2 Feedback
%table
  %thead
    %tr
      %td Subject
      %td Message
      %td 
      %td 
  %tbody= render mailbox.inbox
%br
= link_to 'Send New Message', :new_conversation, class: "btn btn-primary"
