<% if notice %>
<h3 class="alert alert-success"><%= notice %></h3>
<% end %>
<p>
  <strong>Name:</strong>
  <%= @center.name %>
</p>
<% if can? :edit, @center %>
<%= link_to 'Edit center', edit_center_path(@center), class: "btn
btn-large btn-primary" %> 
<% end %>
