<header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <nav>
                <ul class="nav pull-right">
                        <% if signed_in? %>
                            <% if current_user.type.to_s == "Admin"%>
                                <%= render 'users/header_admin' %>
                            <% elsif current_user.type.to_s == "Instructor"%>
                                <%= render 'users/header_instructor' %>
                            <% elsif current_user.type.to_s == "Parent"%>
                                <%= render 'users/header_parent' %>
                            <% end %>
                        <% else %>                            
                            <li><%= link_to "Sign in", signin_path %></li>
                        <% end %>
                </ul>
            </nav>
        </div>
    </div>
</header>
